xml2json_ideal_version.json
{
    "name": "xml2json_ideal_version",
    "properties": {
        "activities": [
            {
                "name": "Get all partition",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "stg_csv_none_heading_default_default",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": {
                                "value": "@pipeline().parameters.container",
                                "type": "Expression"
                            },
                            "root_path": {
                                "value": "@pipeline().parameters.xml_multi_root_path",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Get last success partition from processing record",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": {
                            "value": "@concat('SELECT ISNULL(MAX(ingest_partition),''1900-00-00-00'') AS ingest_partition FROM adle_platform_orchestration.elt_table_config WHERE sourcesystem = ',\n'''',\npipeline().parameters.sourcesystem,\n'''')",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "synapse_dedicated_lookup",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Filter partitions",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Get all partition",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Get last success partition from processing record",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get all partition').output.childItems",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@greater(split(item().name,'=')[1],activity('Get last success partition from processing record').output.firstRow.ingest_partition)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Filter partitions",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Filter partitions').output.Value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Convert to single root XML_copy1",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [
                                {
                                    "name": "Source",
                                    "value": "@{pipeline().parameters.container}/@{'None'}/"
                                },
                                {
                                    "name": "Destination",
                                    "value": "trans_customer_cdm_ejkb.cdm_xml_dataset"
                                }
                            ],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "wildcardFolderPath": {
                                            "value": "@concat(pipeline().parameters.xml_multi_root_path, '/', item().name)",
                                            "type": "Expression"
                                        },
                                        "wildcardFileName": "*",
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "maxRowsPerFile": 1,
                                        "quoteAllText": true,
                                        "fileExtension": ".xml"
                                    }
                                },
                                "enableStaging": true,
                                "stagingSettings": {
                                    "linkedServiceName": {
                                        "referenceName": "ln_ADLE_ADLSGEN2",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "stg_csv_none_heading_default_default",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        },
                                        "root_path": {
                                            "value": "@pipeline().parameters.xml_multi_root_path",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "stg_csv_none_heading_default_default",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        },
                                        "root_path": {
                                            "value": "@concat(pipeline().parameters.xml_single_root_path, '/', item().name)",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Parse XML 2 JSON",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Convert to single root XML_copy1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "XmlSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "wildcardFolderPath": {
                                            "value": "@concat(pipeline().parameters.xml_single_root_path, '/', item().name)",
                                            "type": "Expression"
                                        },
                                        "wildcardFileName": "*.xml",
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "XmlReadSettings",
                                        "validationMode": "none",
                                        "detectDataType": false,
                                        "namespaces": true
                                    }
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "enableSkipIncompatibleRow": true
                            },
                            "inputs": [
                                {
                                    "referenceName": "cdm_xml_single_root_source_dataset_no_loop",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        },
                                        "root_path": {
                                            "value": "@pipeline().parameters.xml_single_root_path",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "cdm_jsoin_sinked_file_no_loop",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        },
                                        "root_path": {
                                            "value": "@concat(pipeline().parameters.json_path, '/', item().name)",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Malformed XML handling",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "Parse XML 2 JSON",
                                    "dependencyConditions": [
                                        "Failed"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "[adle_platform_orchestration].[elt_error_log_proc]",
                                "storedProcedureParameters": {
                                    "created_date_time": {
                                        "value": {
                                            "value": "@utcnow()",
                                            "type": "Expression"
                                        },
                                        "type": "DateTime"
                                    },
                                    "db_name": {
                                        "value": "ADLS Gen2",
                                        "type": "String"
                                    },
                                    "error_nbr": {
                                        "value": {
                                            "value": "@activity('Parse XML 2 JSON').error.errorCode",
                                            "type": "Expression"
                                        },
                                        "type": "Int32"
                                    },
                                    "error_severity": {
                                        "value": null,
                                        "type": "Int32"
                                    },
                                    "error_state": {
                                        "value": null,
                                        "type": "Int32"
                                    },
                                    "event_type": {
                                        "value": "ERROR",
                                        "type": "String"
                                    },
                                    "message": {
                                        "value": {
                                            "value": "@activity('Parse XML 2 JSON').error.message",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "object_name": {
                                        "value": "ADF activity",
                                        "type": "String"
                                    },
                                    "object_type": {
                                        "value": "Copy data activity",
                                        "type": "String"
                                    },
                                    "pipeline_name": {
                                        "value": {
                                            "value": "@pipeline().parameters.pipeline_name",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "pipeline_run_id": {
                                        "value": {
                                            "value": "@pipeline().parameters.pipeline_run_id",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "pipeline_trigger_date_time_utc": {
                                        "value": {
                                            "value": "@pipeline().parameters.pipeline_trigger_time",
                                            "type": "Expression"
                                        },
                                        "type": "DateTime"
                                    },
                                    "pipeline_trigger_id": {
                                        "value": {
                                            "value": "@pipeline().parameters.pipeline_trigger_id",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "pipeline_trigger_name": {
                                        "value": {
                                            "value": "@pipeline().parameters.pipeline_trigger_name",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "pipeline_trigger_type": {
                                        "value": {
                                            "value": "@pipeline().parameters.pipeline_trigger_type",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "schema_name": {
                                        "value": {
                                            "value": "@pipeline().parameters.schema",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ln_ADLE_SYNWS01_DB01",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            },
            {
                "name": "New partition check",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "ForEach1",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(activity('Filter partitions').output.FilteredItemsCount, 0)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Copy data to JSON table",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Add ingest_partition column",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "wildcardFolderPath": {
                                            "value": "@pipeline().parameters.json_with_partition_path",
                                            "type": "Expression"
                                        },
                                        "wildcardFileName": "*",
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "SqlDWSink",
                                    "preCopyScript": {
                                        "value": "@{concat('TRUNCATE TABLE ', pipeline().parameters.schema, '.', pipeline().parameters.json_dataset_table)}",
                                        "type": "Expression"
                                    },
                                    "allowCopyCommand": true,
                                    "disableMetricsCollection": false
                                },
                                "enableStaging": true,
                                "stagingSettings": {
                                    "linkedServiceName": {
                                        "referenceName": "ln_ADLE_ADLSGEN2",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                "translator": {
                                    "type": "TabularTranslator",
                                    "mappings": [
                                        {
                                            "source": {
                                                "type": "String",
                                                "ordinal": 1
                                            },
                                            "sink": {
                                                "name": "cdm_json",
                                                "type": "String"
                                            }
                                        },
                                        {
                                            "source": {
                                                "type": "String",
                                                "ordinal": 2
                                            },
                                            "sink": {
                                                "name": "ingest_partition",
                                                "type": "String"
                                            }
                                        },
                                        {
                                            "source": {
                                                "type": "String",
                                                "ordinal": 3
                                            },
                                            "sink": {
                                                "name": "file_path",
                                                "type": "String"
                                            }
                                        }
                                    ]
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "stg_csv_none_comma_default_default",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "root_path": {
                                            "value": "@pipeline().parameters.json_with_partition_path",
                                            "type": "Expression"
                                        },
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "synapse_trans_table",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "schema": {
                                            "value": "@pipeline().parameters.schema",
                                            "type": "Expression"
                                        },
                                        "table": {
                                            "value": "@pipeline().parameters.json_dataset_table",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Add ingest_partition column",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "additionalColumns": [
                                        {
                                            "name": "filepath",
                                            "value": "$$FILEPATH"
                                        }
                                    ],
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "wildcardFolderPath": {
                                            "value": "@pipeline().parameters.json_path",
                                            "type": "Expression"
                                        },
                                        "wildcardFileName": "*",
                                        "enablePartitionDiscovery": true
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".csv"
                                    }
                                },
                                "enableStaging": true,
                                "stagingSettings": {
                                    "linkedServiceName": {
                                        "referenceName": "ln_ADLE_ADLSGEN2",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                "translator": {
                                    "type": "TabularTranslator",
                                    "mappings": [
                                        {
                                            "source": {
                                                "type": "String",
                                                "ordinal": 1
                                            },
                                            "sink": {
                                                "type": "String",
                                                "ordinal": 1
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ingest_time",
                                                "type": "String"
                                            },
                                            "sink": {
                                                "type": "String",
                                                "ordinal": 2
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "filepath",
                                                "type": "String"
                                            },
                                            "sink": {
                                                "type": "String",
                                                "ordinal": 3
                                            }
                                        }
                                    ]
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "stg_csv_none_heading_default_default",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        },
                                        "root_path": {
                                            "value": "@pipeline().parameters.json_path",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "stg_csv_none_comma_default_default",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "root_path": {
                                            "value": "@pipeline().parameters.json_with_partition_path",
                                            "type": "Expression"
                                        },
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Clean XML single root file",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy data to JSON table",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "cdm_xml_single_root_source_dataset_no_loop",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        },
                                        "root_path": {
                                            "value": "@pipeline().parameters.xml_single_root_path",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        },
                        {
                            "name": "Delete JSON file",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy data to JSON table",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "cdm_jsoin_sinked_file_no_loop",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        },
                                        "root_path": {
                                            "value": "@pipeline().parameters.json_path",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        },
                        {
                            "name": "Delete JSON with partition files",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy data to JSON table",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "stg_csv_none_comma_default_default",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "root_path": {
                                            "value": "@pipeline().parameters.json_with_partition_path",
                                            "type": "Expression"
                                        },
                                        "container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "xml_multi_root_path": {
                "type": "string"
            },
            "container": {
                "type": "string"
            },
            "xml_single_root_path": {
                "type": "string"
            },
            "json_path": {
                "type": "string"
            },
            "schema": {
                "type": "string"
            },
            "json_dataset_table": {
                "type": "string"
            },
            "sourcesystem": {
                "type": "string"
            },
            "pipeline_name": {
                "type": "string"
            },
            "pipeline_run_id": {
                "type": "string"
            },
            "pipeline_trigger_id": {
                "type": "string"
            },
            "pipeline_trigger_time": {
                "type": "string"
            },
            "pipeline_trigger_type": {
                "type": "string"
            },
            "pipeline_trigger_name": {
                "type": "string"
            },
            "json_with_partition_path": {
                "type": "string"
            }
        },
        "folder": {
            "name": "Data Function/stg2pub"
        },
        "annotations": [],
        "lastPublishTime": "2022-04-02T17:32:35Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
